registry=https://registry.npmjs.org/
strict-ssl=false
progress=false
loglevel=verbose
legacy-peer-deps=true
fund=false
audit=false
network-timeout=100000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
proxy=null
https-proxy=null
engine-strict=false
ignore-scripts=true
